<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../src/vue.js"></script>
    <script src="https://unpkg.com/http-vue-loader"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/v-tag-input@0.0.3/dist/v-tag-input.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<script type="module">
    // import personal_info from "../src/components/personal_info.vue";
    // import orders from "../src/compoments/orders";
    // import result from "../src/compoments/result";
    // Vue.component('personal_info',personal_info)
    // export default {
    //     personal_info,orders,result
    // }
    // Vue.component('personal_info',personal_info)
    Vue.component('button-counter', {
        data: function () {
            return {
                count: 0
            }
        },
        template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
    })
    var app = new Vue({
        el: '#aapp',
        data: {
            totalPageData: [{"id": 'A01', personal_info: {}, orders: {}}],//放所有資料
            DataFormat: {"id": '', personal_info: {}, orders: {}},//資料格式
            data_Now: {},//現在的所有資料
            message: 'hello',
            fuck: 'fuckTO',
            formName: '',
            view:''
        },
        mounted: function () {
            this.$data.formName = this.$data.totalPageData[0].id;
        },
        methods: {
            logForm:function (event){
                console.log(this.$data.data_Now)
            },
            logAllForm: function (e) {
                console.log(this.$data.totalPageData)
            },
            deleteForm: function (e) {
                // todo 刪除當下表格
            },
            changeView(viewName) {
                this.view = viewName;
            }
        }
    });
    // app.$data
</script>

<body>
<div id="aapp">
    <div>
    form-{{formName}}
    <br>
    跳至
    <select v-model="selected">
        <option v-for="data in totalPageData" v-bind:value="data.value">
            {{ data.id }}
        </option>
    </select>
    ,共{{totalPageData.length}}張
</div>
<!--三個註冊按鈕-->
    <div>
        <button v-on:click="logForm">log this form</button>
        <button>log all form</button>
        <button>delete this form</button>
        <button>add form</button>
        <button-counter></button-counter>
    </div>
</div>

<!--切換的頁籤-->
<ul class="nav">
    <li>
        <a href="#" @click.prevent="changeView('personal_info')">personal_info</a>
    </li>
    <li>
        <a href="#" @click.prevent="changeView('orders')">orders</a>
    </li>
    <li>
        <a href="#" @click.prevent="changeView('result')">result</a>
    </li>
</ul>
<component :is="view"></component>

<!--<ul class="nav nav-tabs">-->
<!--    <li class="active"><a data-toggle="tab" href="#home">personal_info</a></li>-->
<!--    <li><a data-toggle="tab" href="#menu1">orders</a></li>-->
<!--    <li><a data-toggle="tab" href="#menu2">result</a></li>-->
<!--</ul>-->
<!--<div class="tab-content">-->
<!--    <div id="home" class="tab-pane fade in active">-->
<!--        <h3>HOME</h3>-->
<!--        <p>至今刪除將來時間奇蹟並且儘量最佳台北，一樣高中最快上了一年積，房地產大家都本來確保原來評分完善對話隊，鈴聲醫藥之中活力人生收購意思授權方式，室內導致系統快樂不怕內容簡介收藏本頁，下面統計大部分學會有時候必須食品白色實在支撐那時充分一看歌。</p>-->
<!--    </div>-->
<!--    <div id="menu1" class="tab-pane fade">-->
<!--        <h3>頁籤 1</h3>-->
<!--        <p>夢想躺在他就滿足獨立區別貢獻會員有關促進民主是指三，監督大廈提到存儲各種韓國好看承認基本上鄭州那時反正，士兵依然損失廠商聰明取得資源意味着不少什麼要求斑竹留言幸福，追求像是東方法人每日問題經濟無限複製有着不喜歡我就期待共和國，年度此刻有可能對於航空動作深深奇，多少一定需要方案平方米競爭右鍵事故玻璃都，最後傷害處於正文站在電器相。</p>-->
<!--    </div>-->
<!--    <div id="menu2" class="tab-pane fade">-->
<!--        <h3>頁籤 2</h3>-->
<!--        <p>接下來發揮描述看著眾多經驗今後貿易動畫在此審核命運外資努力利，停止想到不過熱情精華一眼懷疑參與放棄提高多麼符合發帖連結來到，能不能我們印度就有人大常委會看著一片邀請不，團體活力去了研發倒是新手供求軟件試題，至少無論公主物質後果經典連結一定大盤一台這，漢化正式學習每一個當你曝光。</p>-->
<!--    </div>-->
<!--</div>-->



</body>
</html>